body {
    margin: 0;
    padding: 0;
  
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-transform: none;
  
    background-color: #ffffff;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  a {
      text-decoration: none;
      color: #000;
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 940px;
    margin: 0 auto;
    }
    
  .main-header {
      margin: 0;
      background-color: #eeeeee;
  }
  .main-header-logo {
      margin: 49px 0 18px;
      min-width: 256px;
  }
  .main-header-logo:hover {
    opacity: 0.6;
}
  .main-header-logo:active {
    opacity: 0.3;
}
  .main-navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
  }
  .site-navigation {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      margin: 0;
      margin-top: 40px;
      padding: 0;
  }
  .basket-block{
    margin-top: 40px;
  }
  .site-navigation li:hover a,
  .basket-block:hover a {
    color: #fb565a;
  }
  .site-navigation li:active a,
  .basket-block:active a {
  border-bottom: 2px solid #fb565a;
  }
  .site-navigation a,
  .basket-block a {
    display: block;
    padding: 25px 20px 10px;
  }

  .basket-block:active {
    color: #000000;
    opacity: 0.3;
}


.slider {
    position: relative;
    margin: 0 auto 80px;
}
.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 90px;
}
.slider-controls-item {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    font-size: 0;
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls-item::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;
    
    background-color: #ffffff;
    border-radius: 50%;
}



.slider-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slider-list h3 {
    max-width: 600px;
    font-size: 45px;
    font-weight: 700;
    line-height: 62px;
    text-shadow: 0 0 20px #e1e1e1;
}
.slider-item {
    display: none;
    padding: 70px 0 0 0;
}
.slider-item:nth-child(1){

    background-image: url('/img/index/nerds-index-slide1.png');
    background-position: 100% 85px;
    background-repeat: no-repeat;
}
.slider-item:nth-child(2){

    background-image: url('/img/index/nerds-index-slide2.png');
    background-position: 100% 75px;
    background-repeat: no-repeat;
}
.slider-item:nth-child(3){

    background-image: url('/img/index/nerds-index-slide3.png');
    background-position: 100% 85px;
    background-repeat: no-repeat;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

#btn-1:checked ~ .slider-list .slider-item:nth-child(1),
#btn-2:checked ~ .slider-list .slider-item:nth-child(2),
#btn-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}

.description {
    margin-bottom: 40px; 
}
.button {
    display: inline-block;
    padding: 10px 50px;
    margin-bottom: 70px;
    color: #eeeeee;
    background-color: #fb565a;
    border-radius: 5px;
}
.button:hover {
    background-color: #e74246;
}
.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;

    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.features-list {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
list-style: none;

margin: 0;
padding: 0;
}
.feature-item {
    width: 300px;
}
.divide {
    width: 800px;
    height: 0px;
    
    margin: 10px auto;

    border: 1px solid #eeeeee;
}
.index-columns {
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-us {
    width: 550px;
    margin: 0;
    margin-top: 36px;
}
.about-us b {

    font-size: 42px;
    line-height: 46px;
}
.about-us p {
    margin: 35px 0;
}
.about-us span {
    text-transform: uppercase;
    font-weight: 700;
}
.services-list {
    list-style: none;
}
.service-item {
    position: relative;
    margin: 20px 0;
}
.service-item::before {
    content: "";
    position: absolute;
    top:10px;
    left: -28px;
    width: 20px;
    height: 0;
    border: 1px solid #fb565a;

}
.presentation {
    width: 330px;
    margin-top: 40px;
}
.presentation img {
    margin-bottom: 40px;
}
.presentation caption {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.presentation th {
    font-size: 45px;
    font-weight: 700;
    text-align: left;
}
.presentation td {
    width: 120px;
}
.presentation span {
    font-size: 25px;
    position: relative;
    bottom: 15px;
}
.partners {
    margin: 46px 0 36px;
}
.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.partners-list li {
    opacity: 0.3;
}

.partners-list li:hover {
    opacity: 1;
}

 .main-footer {
     margin-top: 80px;
     width: 100%;
 }

 .main-footer .map {
     display: block;
     width: 1440px;
     margin: 0 auto;
 }

 .address {
    height: 416px;
    position: relative;
    background-color: #e9e5dc;
 }

 .address img {
    border: none;
    position: relative;
}
 .address iframe {
    border: none;
    position: absolute;
    z-index: 1;
 }

 .main-footer .pin {
     position: absolute;
     top: 20%;
     left: 58%;
 }
 .contacts-container {
     position: relative;
     width: 940px;
     margin: 0 auto;
     padding: 0 20px;;
     height: 0;
     background-color: #eee;
 }
 .contacts {
     position: absolute;
     top: 40px;

     width: 210px;
     padding: 22px;

     background-color: #fff;
     z-index: 2;
 }
 .contacts strong {
     text-transform: uppercase;
 }
 .contacts .button {
     margin-bottom: 0;
 }
 .modal {
    display: none; 
    position: fixed;
     
    background: #fff;
    box-shadow: 0 20px 40px 0 rgba(0,0,0,.8);

    bottom: 15%;
    left: 50%;
    width: 630px;
    padding: 55px 80px;
    margin-left: -315px;
    box-sizing: border-box;
    z-index: 2;
 }
 @keyframes bounce {
    0% {
      transform: translateX(-2000px);
    }
  
    70% {
      transform: translateX(30px);
    }
  
    90% {
      transform: translateX(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }

 .modal-show {
    display: block;
    animation: bounce 0.6s;
 }
 .modal-error {
    animation: shake 0.6s;
  }

 .modal-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
 }
 .overlay-show {
    display: block;
  }
 .modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 41px;
    height: 41px;
    font-size: 0;
    background-color: #fb565a;
    border-radius: 50%;
    border: 0;
    /* outline: 0; */
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 19px;
    left: 12px;
    width: 18px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1px;
}
.modal-close::before {
    /* -webkit-transform: rotate(45deg); */
    transform: rotate(45deg);
}

.modal-close::after {
    /* -webkit-transform: rotate(-45deg); */
    transform: rotate(-45deg);
}
.modal form {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70px;
    margin: 0 0 30px 0;
}
.modal label:nth-child(3){
    width: 100%;
    height: auto;
}
.modal textarea {
    display: block;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px;
    border: 2px solid #d7dcde;
    border-radius: 5px;
}


.modal label span {
    display: block;
    width: 220px;
    line-height: 18px;
}

.modal input[type="text"],
.modal input[type="email"] {
    width: 220px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
    border: 2px solid #d7dcde;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal input[type="text"]:hover,
.modal input[type="email"]:hover,
.modal textarea:hover {
    border-color: #a2a9ac;
}

.modal input[type="text"]:focus,
.modal input[type="email"]:focus,
.modal textarea:focus {
    border-color: #56bffb;
}

.modal .button {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
.social {
    width: 940px;
    margin: 40px auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.social-btns-list {
    list-style: none;
    display: flex;
    margin-right: 80px;
    padding: 0;
}
.social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    vertical-align: middle;
    background-color: #e1e1e1;
    border-radius: 50%;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #fb565a;
}

.social-btn:active {
    background-color: #d6494d;
    box-shadow: inset 0 3px 0 0 #b63e42;
}

.social-text b{
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}
.social-text span{
    font-weight: 700;
}


/*----------------------- стили для каталога:--------------------*/
.inner-page h1 {
    font-size: 45px;
    text-align: center;
    padding-bottom: 115px;
    line-height: 62px;
}
.catalog-columns {
    display: flex;
    justify-content: space-between;
  }

.catalog-columns .filters {
    width: 260px;
}
.filter-item {
    margin: 0;
    padding: 0;
    border: none;
}
.filter-item legend {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.range-filter {
    width: 260px;
    margin-top: 49px;
}
.range-controls {
    position: relative;
    height: 41px;
    margin-bottom: 15px;
    padding: 39px 20px 0;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.range-controls .scale {
    height: 2px;
    background-color: #d7dcde;
}
.range-controls .bar {
    width: 70%;
    height: 2px;
    background-color: #00ca74;
    margin-left: 0;
}
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}
.range-controls .toggle-min {
    left: 18px;
}
.range-controls .toggle-max {
    left: 160px;
}
.price-controls {
    font-size: 0;
}
.price-controls label{
    display: inline-block;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
}
.price-controls input {
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.max-price {
    text-align: right;
}

fieldset.grid-type,
fieldset.features {
    margin-top: 60px;
}
fieldset ul {
    list-style: none;
    padding: 0;
}

.grid-type input[type="radio"]:disabled + label,
.features input[type="checkbox"]:disabled + label {
    opacity: 0.4;
    cursor: auto;
}

.grid-type label:hover::before,
.features label:hover::before {
    border-color: #b5b5b5;
}
.grid-type input:focus + label,
.features input:focus + label {
    font-weight: bold;
    color: #4d4d4d;
}

.grid-type input:focus + label::before,
.features input:focus + label::before {
    border-color: #4d4d4d;
}

.grid-type label,
.features label {
    position: relative;
    display: block;

    font-size: 16px;
    
    padding-left: 35px;
    margin-bottom: 20px;
    color: #283136;
    cursor: pointer;
    user-select: none;
}
.grid-type label::before{
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 3px solid #c1c1c1;
}

.features label::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0px;
    width: 25px;
    height: 25px;
    background: url(../img/catalog/sprite.png) no-repeat;
    background-position: -25px -155px;
}

.features label:hover::before {
    background-position: -25px -301px;
}

.features input[type="checkbox"]:checked + label::before {
    display: none;
}

.features input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 27px;
    height: 27px;
    background: url(../img/catalog/sprite.png) no-repeat;
    background-position: -25px -374px;
}

.grid-type input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 8px;
    width: 9px;
    height: 9px;
    background: #c1c1c1;
    border-radius: 50%;
}

.filter-button {
    width: 260px;
    margin-top: 61px;
    padding: 10px 0;
    font-weight: bold;
    border: 0;
    background: #f1f1f1;
    color: #000000;
}

.catalog {
    width: 640px;
}

.sort-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.sort-header ul {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding-right: 30px;
    list-style: none;
}

.sort-button {
   margin-right: 20px;
   opacity: 0.4;
}
.sort-button:hover {
    opacity: 0.7;
}
.sort-button:focus,
.sort-button:active {
    opacity: 1;
}
.sort-button-current {
    opacity: 1;
}
.arrow {
    position: relative;
    width: 28px;
    height: 15px;
    margin-top: 5px;
}

.left-arrow {
    content: "";
    position: absolute;
    right: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #ededed transparent transparent transparent;
    cursor: pointer;
}

.left-arrow.active {
    border-color: #231f20 transparent transparent transparent;
}

.left-arrow:hover,
.left-arrow:focus {
    border-color: #b5b5b5 transparent transparent transparent;
}

.right-arrow {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #ededed transparent;
    cursor: pointer;
}

.right-arrow:hover,
.right-arrow:focus {
    border-color: transparent transparent #b5b5b5 transparent;
}

.right-arrow.active {
    border-color: transparent transparent #231f20 transparent;
}

.catalog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    display: block;
    width: 280px;
    margin-bottom: 40px;
}

.catalog-item:hover {
     opacity: 1;
     box-shadow: 0 1px 5px #4d4d4d;
}
.layout-hover {
    display: none;
}
.layout-info {
    position: absolute;
    top: 300px;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    background: #eeeeee;
}
.layout-info span {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.layout-info .button {
    position: absolute;
    bottom: -40px;
    left: 32px;
    right: 32px;
}
.layout-info .button:hover {
    background: #d6494d;
}

.layout-info .button:active {
    box-shadow: inset 0 3px 0 0 #9b2d30;
    background: #b63538;
}

.layout-info p {
    font-size: 14px;
    line-height: 18px;
}

.catalog-item:hover .layout-hover {
    display: block;
}

.catalog-item .browser-imitation {
    opacity: 0.2;
}

.catalog-item:hover .browser-imitation {
    opacity: 1;
}

.pagination-list {
    list-style: none;
    display: flex;
    padding: 0;
}
.pagination-item {

    margin-right: 10px;
    text-align: center;
    background-color: #eeeeee;
    display: flex;
    border-radius: 5px;
}
.pagination-item-current {
background: 0 0;
border: 2px solid #f2f2f2;
}
.pagination-item:hover,
.filter-button:hover {
    background-color: #dfdfdf;
}
.pagination-item:active,
.filter-button:active {
    background-color: #bfbfbf;
    opacity: 0.7;
    box-shadow: inset 0 2px #a6a6a6;
}
.pagination-item a {
    width: 40px;
    padding: 10px 0;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
}
.pagination-item:last-child a {
    width: 260px;
    padding: 10px 0;
}